<!DOCTYPE html>
<html lang="en">
    
    <body>
        <%- include('layouts/header') -%>

        <!-- Navigation-->
        <%- include('layouts/navbar') -%>
        <!-- Page Header-->
        <main class="confirmation-container">
            <h2>Booking Confirmation</h2>
            <div id="customer-details" class="customer-details"></div>
            <div id="booking-summary" class="booking-summary"></div>
            <button id="back-to-home">Back to Home</button>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer') -%>
        <!-- Bootstrap core JS-->
        <%- include('layouts/scripts') -%>
    </body>
</html>

