<!DOCTYPE html>
<html lang="en">
    
    <body>
        <%- include('layouts/header') -%>

        <!-- Navigation-->
        <%- include('layouts/navbar') -%>
        <!-- Page Header-->
        <main>
            <div class="main-content">
              <h1>Contact Us</h1>
              <p>We are here for you whenever you need us to provide services or answers.</p>
              <div class="contact-box">
                  <h3>Contact Details</h3>
                  <p><strong>Mechtech Express</strong></p>
                  <p>+1 437-230-0786</p>
                  <p>Email: abc1234@gmail.com</p>
              </div>
              
              <div class="contact-box">
                  <h3>Send Us a Message</h3>
                  <textarea rows="4" placeholder="Write your message here"></textarea>
                  <button type="submit">Send Message</button>
              </div>
          </div>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer') -%>
        <!-- Bootstrap core JS-->
        <%- include('layouts/scripts') -%>
    </body>
</html>



